
/* 
.animePara__headingItem,.animePara__heading{
  font-family: var(--headingFontani);
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-synthesis: none;
} */
.animePara {
  padding-top: 96px;
  padding-bottom: 72px;
  margin-top: -26px;
  /* font-family: 'Franchise-Bd' */
}

.animePara__heading {
  color: #464646;
  max-width: 1024px;
}

.animePara__headingItem.active {
  color: var(--colorWhite);
  transition: color .8s;
}

.animePara__headingItem strong {
  position: relative;
  z-index: 0;
  display: inline-block;
}

.animePara__headingItem strong::after {
  position: absolute;
  content: "";
  z-index: -1;
  display: none;
}

.highlight-circle strong::after {
  background: url('https://cdn.shopify.com/s/files/1/0586/6520/5927/files/Scribbles_1.png') no-repeat;
  background-size: 234px 67px;
  height: 67px;
  left: -11px;
  bottom: -10px;
  width: calc(100% + 25px);
}

.highlight-underline strong::after {
  background: url('https://cdn.shopify.com/s/files/1/0586/6520/5927/files/line.png') no-repeat;
  background-size: 100% auto;
  height: 100%;
  left: -20px;
  bottom: -28px;
  width: calc(100% + 25px);
}

.animePara__headingItem.active strong::after {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .animePara {
    padding-top: 142px;
    padding-bottom: 124px;
    margin-top: -32px;
  }

  .highlight-circle strong::after {
    width: calc(100% + 20px);
    background-size: 100% 100%;
    bottom: 0;
    height: calc(100% + 20px);
  }

  .highlight-underline strong::after {
    width: calc(100% + 20px);
    background-size: 100% 100%;
    bottom: 0;
    height: 22px;
  }
}


.animePara .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.animePara__heading {
    color: #464646;
    max-width: 1024px;
}

@media screen and (min-width: 1200px) {
  .animePara .container {
      padding-left: 64px;
      padding-right: 64px;
  }

  .animePara__heading {
      font-size: 72px;
      line-height: 72px;
  }
}
