.construction__list > p{
  margin-bottom: 0px
}
.construction {
  padding: 88px 0 88px 64px;
  background-color: #0b0b0b;
  display: flex;
  align-items: center;
  background-size: cover;
  position: relative;
  gap: 58px;
  background-repeat: no-repeat;
  font-size: 16px;
  /* overflow: hidden */
}

.construction__title {
  position: relative;
  max-width: 549px;
}

.construction__title span::after {
  content: "";
  background: url("https://cdn.shopify.com/s/files/1/0755/3325/4899/files/Scribbles_5_1.png?v=1751264872") no-repeat;
  position: absolute;
  width: calc(100% + 40px);
  height: 262px;
  right: -320px;
  top: 45px;
  background-size: 280px auto;
}

.construction__content {
  position: relative;
  width: 60%;
  overflow: hidden;
}

.construction__list {
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: absolute;
}

.construction__media {
  width: 667px;
  height: 480px;
  position: relative;
  left: 266px;
  overflow: hidden;
}

.construction__media img {
  object-fit: contain;
}

.construction__item {
  position: relative;
  z-index: 1;
  max-width: 296px;
  font-weight: 600;
}

.construction__item svg {
  padding-top: 14px;
}

.construction__item.line-down {
  padding-top: 50px;
}

.construction__item.line-up svg {
  position: absolute;
  top: 10px;
  left: 0;
}

@media (max-width: 760px) {
  .construction__list {

      font-size: 14px;
  }
  .construction__item.line-down {
    padding-top: 10px;
  }

  .construction {
    padding: 72px 0px 72px 16px;
    flex-direction: column;
    align-items: baseline;
    gap: 44px;
  }

  .construction__content {
    width: 100%;
  }

  .construction__title {
    max-width: 343px;
  }

  .construction__media {
    width: 344px;
    height: 351px;
    transform: rotate(-49.17deg);
    left: 153px;
    top: -16px;
  }

  .construction__list {
    gap: 13px;
  }

  .construction__item.line-down svg,
  .construction__item.line svg {
    padding-top: 11px;
  }

  .construction__item.line {
    padding-bottom: 30px;
  }

  .construction__item.line-up svg {
    padding-top: 13px;
  }

  .construction__item {
    max-width: 195px;
  }

  .construction__title span::after {
    background-size: 160px auto;
    right: -15px;
    top: 27px;
    width: 200px;
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .construction {
    padding: 72px 0px 72px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .construction__content {
    padding-left: calc((100% - 1440px) / 2);
    width: 100%;
  }

  .construction__title {
    max-width: 549px;
  }

  .construction__media {
    width: 667px;
    height: 580px;
    left: 280px;
    top: -20px;
  }

  .construction__list {
    padding-left: 0;
  }

  .construction__item {
    max-width: 195px;
  }

  .construction__title span::after {
    background-size: 170px auto;
    right: 210px;
    top: 30px;
    width: 200px;
  }
}

@media (min-width: 1500px) {
  .construction {
    padding-left: calc((100% - 1440px) / 2);
  }
}

.construction__title {
    font-size: 36px;
    line-height: 36px;
}

@media screen and (min-width: 1200px){
  .construction__title {
      font-size: 64px;
      line-height: 60px;
  }
}

@media screen and (max-width: 750px){
  .construction {
    overflow: hidden
  }
  .construction__content {
    overflow: initial;
  }
  .construction__media img {
    width: 100%;
    height: 100%
  }
}

.construction__list svg {
  box-sizing: content-box;
  color: #1b365d 
}
.construction__list svg path,.construction__list svg circle{
  stroke: currentColor !important;
  fill: currentColor !important;
}