:root{
  --colorWhite: white
}


.reviewsCarousel{
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative;
  margin-top: -50px;
  font-size: 16px
}

.reviewsCarousel__heading{
  color: var(--colorWhite);
  padding-left: 16px;
  padding-right: 16px;
}

.reviewsCarousel__heading span{
  position: relative;
}

.reviewsCarousel__heading span::after{
  content: "";
  background: url('https://cdn.shopify.com/s/files/1/0586/6520/5927/files/Scribbles_2.webp?v=1729255888') no-repeat;
  position: absolute;
  width: 100%;
  height: 10px;
  left: -15px;
  bottom: -1px;
  background-size: 270px auto;
}

.reviewsCarousel__slide {
  max-width: 84%;
}

.reviewsCarousel__slide-container {
  position: static;
  margin-top: 32px;
  padding-left: 16px;
}

.reviewsCarousel__slide img,
.reviewsCarousel__slide video {
  border-radius: 10px;
  width: 100%;
  height: 427px;
  object-fit: cover;
  object-position: 50% 25%;
  display: block;
}

.reviewsCarousel__slide-media-wrapper {
  position: relative;
}

.reviewsCarousel__slide-media-wrapper.no-gradient::after,
.reviewsCarousel__slide-media-wrapper.media-playing::after{
  content: unset;
}

.reviewsCarousel__slide-media-wrapper.media-playing .reviewsCarousel__slide-media-btn,
.reviewsCarousel__slide-media-wrapper.media-playing .reviewsCarousel__slide-media-poster{
  display: none;
}

.reviewsCarousel__slide-media-wrapper::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}

.reviewsCarousel__slide-media-btn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.reviewsCarousel__slide-info {
  padding-top: 20px;
  color: var(--colorWhite);
}

.reviewsCarousel__review-title {
  font-weight: 600;
  padding-top: 12px;
  display: block;
}

.reviewsCarousel__review-body {
  padding-top: 6px;
}

.reviewsCarousel__reviewer-name {
  padding-top: 24px;
  display: block;
}

.reviewsCarousel__reviewer-profession {
  padding-top: 2px;
  color: #B2B2B2;
  display: block;
}

.reviewsCarousel__arrows{
  position: absolute;
  top: 48%;
  z-index: 2;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: var(--colorWhite);
  border: 1px solid #6D6D6D;
  border-radius: 50%;
  padding: 8px;
  line-height: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

.reviewsCarousel__prev {
  left: 45px;
}

.reviewsCarousel__next {
  right: 45px;
}

.reviewsCarousel__arrows svg{
  width: 30px;
  height: 30px;
}

.reviewsCarousel__review-stars {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: fit-content;
}

.reviewsCarousel__slide-media-poster {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1024px) {
  .reviewsCarousel__slide {
    opacity: .4;
  }
  
  .reviewsCarousel__slide.swiper-slide-active {
    opacity: 1;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {

  .reviewsCarousel__heading::after{
    background-size: 438px 30px;
    bottom: -23px;
  }

  .reviewsCarousel .container{
    position: relative;
  }

  .reviewsCarousel__slide-container{
    margin-top: 48px;
  }

  .reviewsCarousel {
    padding-top: 124px;
    padding-bottom: 124px;
    margin-top: -70px;
  }

  .reviewsCarousel__arrows{
    display: flex;
  }

  .reviewsCarousel__review-title{
    padding-top: 16px;
  }

  .reviewsCarousel__review-body{
    padding-top: 12px;
  }

  .reviewsCarousel__reviewer-profession{
    padding-top: 4px;
  }
}

@media (min-width: 1200px) {
  .reviewsCarousel__heading{
    padding-left: 64px;
    padding-right: 64px;
  }

  .reviewsCarousel__slide{
    max-width: 301px;
  }

 .reviewsCarousel  .reviewsCarousel__slide-container{
    padding-left: 64px;
  }

  .reviewsCarousel__slide-container .swiper-slide:nth-child(1){
    min-width: 638px;
  }

  .reviewsCarousel__slide-container .swiper-slide:nth-child(1) .reviewsCarousel__slide-media-wrapper{
    min-width: 638px;
  }

  .reviewsCarousel__slide-container .swiper-slide:nth-child(1) img,
  .reviewsCarousel__slide-container .swiper-slide:nth-child(1) video {
    min-width: 638px;
  }

  .reviewsCarousel__heading span::after{
    background-size: 432px auto;
    height: 14px;
    left: -32px;
    width: 456px;
  }
}




@media (min-width: 1570px) {
  .reviewsCarousel__heading,
  .reviewsCarousel__slide-container{
    padding-left: calc((100% - 1440px)/2);
  }
}


.subHeading {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media only screen and (min-width: 1200px) {
  .subHeading{
    font-size: 20px;
    line-height: 24px;
  }
}