.reviewsCarousel {
  --rem: 10px;
  padding-top: calc(var(--rem) * 7.2);
  padding-bottom: calc(var(--rem) * 7.2);
  position: relative;
  margin-top: calc(var(--rem) * -5);
}

.reviewsCarousel__heading {
  color: var(--colorWhite);
  padding-left: calc(var(--rem) * 1.6);
  padding-right: calc(var(--rem) * 1.6);
}

.reviewsCarousel__heading span {
  position: relative;
}

.reviewsCarousel__heading span::after {
  content: "";
  background: url('https://cdn.shopify.com/s/files/1/0586/6520/5927/files/Scribbles_2.webp?v=1729255888') no-repeat;
  position: absolute;
  width: 100%;
  height: calc(var(--rem) * 1);
  left: calc(var(--rem) * -1.5);
  bottom: calc(var(--rem) * -0.1);
  background-size: calc(var(--rem) * 27) auto;
}

.reviewsCarousel__slide {
  max-width: 84%;
}

.reviewsCarousel__slide-container {
  position: static;
  margin-top: calc(var(--rem) * 3.2);
  padding-left: calc(var(--rem) * 1.6);
}

.reviewsCarousel__slide img,
.reviewsCarousel__slide video {
  border-radius: calc(var(--rem) * 1);
  width: 100%;
  height: calc(var(--rem) * 42.7);
  object-fit: cover;
  object-position: 50% 25%;
  display: block;
}

.reviewsCarousel__slide-media-wrapper {
  position: relative;
}

.reviewsCarousel__slide-media-wrapper.no-gradient::after,
.reviewsCarousel__slide-media-wrapper.media-playing::after {
  content: unset;
}

.reviewsCarousel__slide-media-wrapper.media-playing .reviewsCarousel__slide-media-btn,
.reviewsCarousel__slide-media-wrapper.media-playing .reviewsCarousel__slide-media-poster {
  display: none;
}

.reviewsCarousel__slide-media-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: calc(var(--rem) * 1);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}

.reviewsCarousel__slide-media-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.reviewsCarousel__slide-info {
  padding-top: calc(var(--rem) * 2);
  color: var(--colorWhite);
}

.reviewsCarousel__review-title {
  font-weight: 600;
  padding-top: calc(var(--rem) * 1.2);
  display: block;
}

.reviewsCarousel__review-body {
  padding-top: calc(var(--rem) * 0.6);
}

.reviewsCarousel__reviewer-name {
  padding-top: calc(var(--rem) * 2.4);
  display: block;
}

.reviewsCarousel__reviewer-profession {
  padding-top: calc(var(--rem) * 0.2);
  color: #B2B2B2;
  display: block;
}

.reviewsCarousel__arrows {
  position: absolute;
  top: 48%;
  z-index: 2;
  width: calc(var(--rem) * 4.8);
  height: calc(var(--rem) * 4.8);
  cursor: pointer;
  transform: translateY(-50%);
  background-color: var(--colorWhite);
  border: calc(var(--rem) * 0.1) solid #6D6D6D;
  border-radius: 50%;
  padding: calc(var(--rem) * 0.8);
  line-height: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

.reviewsCarousel__prev {
  left: calc(var(--rem) * 4.5);
}

.reviewsCarousel__next {
  right: calc(var(--rem) * 4.5);
}

.reviewsCarousel__arrows svg {
  width: calc(var(--rem) * 3);
  height: calc(var(--rem) * 3);
}

.reviewsCarousel__review-stars {
  display: flex;
  align-items: center;
  column-gap: calc(var(--rem) * 0.4);
  width: fit-content;
}

.reviewsCarousel__slide-media-poster {
  position: absolute;
  top: 0;
  left: 0;
}

/* Tablet and down */
@media (max-width: 1024px) {
  .reviewsCarousel__slide {
    opacity: 0.4;
  }

  .reviewsCarousel__slide.swiper-slide-active {
    opacity: 1;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .reviewsCarousel__heading::after {
    background-size: calc(var(--rem) * 43.8) calc(var(--rem) * 3);
    bottom: calc(var(--rem) * -2.3);
  }

  .reviewsCarousel .container {
    position: relative;
  }

  .reviewsCarousel__slide-container {
    margin-top: calc(var(--rem) * 4.8);
  }

  .reviewsCarousel {
    padding-top: calc(var(--rem) * 12.4);
    padding-bottom: calc(var(--rem) * 12.4);
    margin-top: calc(var(--rem) * -7);
  }

  .reviewsCarousel__arrows {
    display: flex;
  }

  .reviewsCarousel__review-title {
    padding-top: calc(var(--rem) * 1.6);
  }

  .reviewsCarousel__review-body {
    padding-top: calc(var(--rem) * 1.2);
  }

  .reviewsCarousel__reviewer-profession {
    padding-top: calc(var(--rem) * 0.4);
  }
}

@media (min-width: 1200px) {
  .reviewsCarousel__heading {
    padding-left: calc(var(--rem) * 6.4);
    padding-right: calc(var(--rem) * 6.4);
  }

  .reviewsCarousel__slide {
    max-width: calc(var(--rem) * 30.1);
  }

  .reviewsCarousel__slide-container {
    padding-left: calc(var(--rem) * 6.4);
  }

  .reviewsCarousel__slide-container .swiper-slide:nth-child(1) {
    min-width: calc(var(--rem) * 63.8);
  }

  .reviewsCarousel__slide-container .swiper-slide:nth-child(1) .reviewsCarousel__slide-media-wrapper {
    min-width: calc(var(--rem) * 63.8);
  }

  .reviewsCarousel__slide-container .swiper-slide:nth-child(1) img,
  .reviewsCarousel__slide-container .swiper-slide:nth-child(1) video {
    min-width: calc(var(--rem) * 63.8);
  }

  .reviewsCarousel__heading span::after {
    background-size: calc(var(--rem) * 43.2) auto;
    height: calc(var(--rem) * 1.4);
    left: calc(var(--rem) * -3.2);
    width: calc(var(--rem) * 45.6);
  }
}

@media (min-width: 1570px) {
  .reviewsCarousel__heading,
  .reviewsCarousel__slide-container {
    padding-left: calc((100% - 1440px)/2);
  }
}
